# Junk files
*.bak
*.swp
*~
.DS_Store
._*

# Firmware files
*.hex
*.bin
*.uf2

# clangd
compile_commands.json
.clangd/
.cache/

keyboards/sofle/keymaps/rg/via-exports/
keyboards/sofle/keymaps/rg/keymap.c.bac
keymap-drawer/sofle-rg.k-d_munged.yaml
keymap-drawer/sofle-rg.k-d.yaml
keymap-drawer/sofle-rg.qmk.json
